---
import Layout from "~/layouts/Layout.astro";

const linkClasses =
  "py-2 block border-b-2 border-transparent hover:border-blue-500 hover:text-blue-500 focus:outline-none focus:bg-yellow-400 focus:border-current";
---

<Layout>
  <ul
    class="flex flex-col justify-center gap-4 sm:flex-row sm:flex-wrap sm:gap-6"
  >
    <li><a class={linkClasses} href="#0">About</a></li>
    <li><a class={linkClasses} href="#0">Blog</a></li>
    <li><a class={linkClasses} href="#0">Talks</a></li>
    <li><a class={linkClasses} href="#0">Daily list</a></li>
    <li><a class={linkClasses} href="#0">Search</a></li>
  </ul>
</Layout>
